*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#top-nav, #footer {
    background-color: orange;
    padding: 1rem 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
}

/* #nav-top-left */

#main {
    padding: 0 10vw;
}